ul.disc-bullets{list-style-type: disc;float: left;}
ul.circle-bullets{list-style-type: circle;float: left;}
ul.square-bullets{list-style-type: square;float: left;}
ul.image-bullets{list-style-image: url(01.creatingUnorderedList.png);clear: both;margin-left: 100px;}